body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.container {
  margin-top: 50px;
}

video {
  width: 100%;
  height: auto;
}

#gestureDisplay,
#facialFeatureDisplay {
  margin-top: 20px;
  font-size: 18px;
}
